/* CSS file paired with the animation */
html, body {
  background-color: #083952;
  -webkit-font-smoothing: antialiased;
}

.pbody {
  font: calc(50% + 1vw + 1vh) "Monaco", Inconsolata, monospace;
  background-color: #083952;
  color: #f8f8f8;
  width: 100%;
  position: absolute;
}

.pbody2 {
  position: absolute;
  margin-top: 10%;
  left: 0%;
  right: 0%;
}

a {
  font: "Monaco", Inconsolata, monospace;
  text-decoration: underline;
  color: #f8f8f8;
}

a:hover {
  font: "Monaco", Inconsolata, monospace;
  text-decoration: underline;
  color: #f8f8f8;
}

.ptext {
  font: "Monaco", Inconsolata, monospace;
  color: #f8f8f8;
}

.terminal {
  background: transparent;
  position: absolute;
  top: 40%;
  width: auto;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
  font: inherit;
  border: none;
  outline: none;
  color: inherit;
}


.dollar:before {
  content: '$';
  color: #52a563;
}